*{
	margin:0;
	padding:0;
	font-family: 'Open Sans', sans-serif;
}
.main__container{
	width:100%;
	background-color:white;
	display:flex;
	align-items:center;
	flex-direction:column;

}
.head{
	width:80%;
	height:30px;
}
.head h2{
	font-size:16px;
	font-weight:400;
}
.top__section{
	width:80%;
 	display:flex;
	gap:16px;
	
	
}

.top__section div{
	width:31%;
	border-radius:14px;

}
.side__image img{

	max-width:100%;
	height:100%;
	border-radius:14px;
}
.center__image {
	display:flex;
	gap:16px;
	flex-direction:column;
	
}
.center__image img{

    max-width: 100%;
    border-radius: 14px;
}
 
.bottom__section{
 width:80%;
 height:400px;
 background-color:white;
	display:flex;
	justify-content:space-around;
	align-items:center;
	flex-direction:row;
	
}
.product__description{
 width:65%;
  background-color:white;
	display:flex;
	flex-direction:column;
	gap:16px;
	
}

.price__section{
 width:35%;
 height:400px;
 background-color:white;
	display:flex;
	justify-content:space-around;
	align-items:left;
	flex-direction:column;
	
}
.checked{
	color:orange;
}
.bottom__section h1{
	font-size:20px;
	font-weight:700;
}
.bottom__section p{
	font-size:12px;
	font-weight:400;
	width:90%;
	
	
}

.bottom__section h2{
	font-size:14px;
	font-weight:500;
}
.bottom__section h3{
	font-size:25px;
	font-weight:500;
}

ul{
	list-style-position:inside;
	
}
ul li{
	font-size:11px;
	padding-bottom:10px;
}
.size__section{
	width:330px;
	height:30px;
	display:flex;
	justify-content:space-between;
}
.size__section h2 + h2{
	color:blue;
}
.sizes{
	width: 235px;
    height: 125px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.sizes button{
width:50px;
height:50px;
background-color:transparent;
border:1px solid gray;
border-radius:5px;
}
.sizes > button:hover{
width:50px;
height:50px;
background-color:transparent;
border:2px solid blue;
border-radius:5px;
}

.color{
	width:180px;
	height:45px;
	display: flex;
	justify-content:space-between;
}
.white{
	width:40px;
	height:40px;
	background-color:white;
	border:2px solid;
	border-radius:25px;
}
.gray{
	width:40px;
	height:40px;
	background-color:gray;
	border:2px solid;
	border-radius:25px;
}
.black{
	width:40px;
	height:40px;
	background-color:black;
	border:2px solid;
	border-radius:25px;
}
.button__section{
	width:300px;
	height:30px;
	font-size:18px;
	display:flex;
	justify-content:center;
	
	color:white;
	padding: 4px 8px;
}
.button__section button{
	width: 280px;
    height: 32px;
    font-size: 15px;
    background-color: #5252ce;
    color: white;
    padding: 4px 8px;
    border: none;
    border-radius: 10px
}